# Thank you : https://github.com/github/gitignore/blob/master/Node.gitignore

# project
dist/
_site/
_draft/
lib/
.npmignore

# Logs
logs
*.log

# Dependency directory
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules


# Users Environment Variables and others
.idea/
.DS_Store
*.tgz
