# Thank you : https://github.com/github/gitignore/blob/master/Node.gitignore

# Logs
logs
*.log

# Dependency directory
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Project Related
components/
articles/
_theme/
_site/
webpack.config.js
bisheng.config.js
.flowconfig

# Users Environment Variables and others
.idea/
.DS_Store
*.tgz