#doc {
  background: #fff;
  width: 90%;
  margin:auto;
  margin-top: 20px;
  padding: 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  aside{
    position: absolute;
    top: 15px;
    left: 0;
    width: 250px;
    height: 800px;
  }
  article{
    margin-left: 249px;
    padding: 0 15px;
    border-left: 1px solid #e9e9e9;
  }
  h1{
    font-weight: 200;
    font-size: 30px;
    margin-top: 20px;
  }
  h2{
    .anchor{
      color: transparent;
    }
  }
  .page-content{
    margin: 15px 0;
  }
  hr{
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #e3e3e3;
  }

  .demo-item{
    padding: 10px;
    width: 100%;
    margin: 0 auto 20px auto;
    border-radius: 8px;
    border: 1px solid #f3f3f3;
  }
  .demo-desc{
    margin: 10px 0;
  }
  .demo-item-code{
    border: 1px solid #e0e0e0;
    height: 400px;
    overflow: scroll;
    background: #fff;
  }
  .demo-item-preview{
    border: 1px solid #e0e0e0;
    border-left: 0;
    height: 400px;
  }
}