html, body{
    margin: 0;
    padding: 0;
}
body{
    background: #f3f3f3;
    /* background: linear-gradient(to right bottom, #ffdc79, #c4e4a2, #0090ff); */
}

::-webkit-scrollbar {
    width: 8px;
    border-left: 1px solid #aaa;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-track {
    background: #efefef;
}
::-webkit-scrollbar-thumb {
    background: #666;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #dedede;
}
